<div class="game-table">
  <div class="table-top" *ngIf="numberOfPlayers > 3">
    <app-player-summary *ngIf="playerTwoToTheLeft" [playerInfo]="playerTwoToTheLeft" [orientation]="'landscape'"></app-player-summary>
    <app-player-summary *ngIf="numberOfPlayers === 5 && playerThreeToTheleft" [playerInfo]="playerThreeToTheleft" [orientation]="'landscape'"></app-player-summary>
  </div>
  <div class="table-middle">
    <app-player-summary *ngIf="playerToTheLeft"  [playerInfo]="playerToTheLeft" [orientation]="'portrait'" [reverseLayout]="true"></app-player-summary>
    <div class="card-play-area">
      <div class="top-card">
        <app-information-card *ngIf="cardPlayedTwoToTheLeft" [card]="cardPlayedTwoToTheLeft" [information]="cardPlayedTwoToTheLeft | playerDisplayName"></app-information-card>
        <app-information-card *ngIf="cardPlayedThreeToTheLeft" [card]="cardPlayedThreeToTheLeft" [information]="cardPlayedThreeToTheLeft | playerDisplayName"></app-information-card>  
      </div>
  
      <div class="bottom-card">
        <app-information-card *ngIf="cardPlayedToTheLeft" [card]="cardPlayedToTheLeft" [information]="cardPlayedToTheLeft | playerDisplayName"></app-information-card>
        <div 
        class="playing-mat arranged-cards"
        cdkDropList 
        id="playing-mat" 
        [cdkDropListData]="playedCardCurrentPlayer"
        (cdkDropListDropped)="cardPlayed($event)">
        <app-information-card *ngIf="playedCardCurrentPlayer[0]" [card]="playedCardCurrentPlayer[0]" [information]="playedCardCurrentPlayer[0] | playerDisplayName"></app-information-card>
      </div>
      <app-information-card *ngIf="cardPlayedToTheRight" [card]="cardPlayedToTheRight" [information]="cardPlayedToTheRight | playerDisplayName"></app-information-card> 
    </div>
    </div>
   
    <app-player-summary *ngIf="playerToTheRight" [playerInfo]="playerToTheRight" [orientation]="'portrait'"></app-player-summary>
  </div>
</div>
