<div class="game-table">
  <div class="table-top" *ngIf="numberOfPlayers > 3">
    <app-player-summary [playerInfo]="playersTableText(playerTwoToTheLeft)"></app-player-summary>
    <app-player-summary *ngIf="numberOfPlayers === 5" [playerInfo]="playersTableText(playerThreeToTheRight)"></app-player-summary>
  </div>
  <div class="table-middle">
    <app-player-summary [playerInfo]="playersTableText(playerToTheLeft)" ></app-player-summary>
    <div 
      class="playing-mat arranged-cards"
      cdkDropList 
      id="playing-mat" 
      [cdkDropListData]="playedCards"
      (cdkDropListDropped)="cardPlayed($event)">
      <app-information-card *ngFor="let card of playedCards" [card]="card" [information]="card | playerDisplayName" ></app-information-card>
    </div>
    <app-player-summary [playerInfo]="playersTableText(playerToTheRight)" ></app-player-summary>
  </div>
</div>