@import '../../card.dimensions'

.table-top
  display: flex
  justify-content: space-around

.table-middle
  display: flex
  align-items: center
  justify-content: space-around

.card-play-area
  display: flex
  flex-direction: column
  width: 350px

.top-card
  display: flex
  justify-content: space-around
  height: $card-height
  margin: 5px 0

.bottom-card
  display: flex
  justify-content: space-between
  height: $card-height

.playing-mat
  min-height: 155px
  background-color: orange
  min-width: 100px

.current-player-tasks
  display: flex
  justify-content: center

.card-spot
  height: $card-height
  width: $card-width
