<div class="players-hand-container" *ngIf="player && player.playerPosition !== 0">
  <div [ngClass]="['hand-container', numberOfPlayers >= 4 ? 'fixed' : '']">
    <div
    class="players-hand"
    cdkDropList
    id="players-hand"
    [cdkDropListData]="cardsInHand"
    [cdkDropListConnectedTo]="['playing-mat', player | communicationPosition]"
    (cdkDropListDropped)="handleDrop($event)">
      <div class="arranged-cards">
        <app-playing-card *ngFor="let card of cardsInHand" cdkDrag [card]="card" (dblclick)="handleConfirmPassingCardDialog(card)"></app-playing-card>
      </div>
      <button mat-raised-button [disabled]="cardsInHand.length === 0" (click)="openConfirmDrawCard()">Pass a Random Card to the Left</button>
      <button mat-raised-button [disabled]="cardsInHand.length === 0" (click)="sortHandOfCards()">Sort Cards</button>
    </div>
    <app-player-summary *ngIf="player" [playerInfo]="player" [orientation]="'landscape'"></app-player-summary>
  </div>
</div>
