<div class="game-info-container">
  <h3 *ngIf="winningCard">{{ winningCard | playerDisplayName }} won the last trick with the {{ winningCard.value }} {{ winningCard.suit }}</h3>
  <div class="game-info-card">
    <div class="card-info">
      <h3>Last Trick</h3>
      <div class="arranged-cards">
       <app-information-card *ngFor="let card of lastTrick" [information]="formatInformation(card)" [card]="card"></app-information-card>
      </div>
    </div>
    <div class="card-info">
      <h3>Communication</h3>
      <div class="arranged-cards">
        <app-information-card *ngFor="let communication of revealedCommunications" [information]="formatInformation(communication.card, communication.type)" [card]="communication.card"></app-information-card>
      </div>
    </div>
  </div>
  <h4>Lead Card:</h4>
  <app-playing-card *ngIf="leadCard" [card]="leadCard"></app-playing-card>
</div>
