<div class="game-info-container">
  <div *ngIf="numberOfPlayers">
    <app-task-selection [numberOfPlayers]="numberOfPlayers" [isPlayerCommander]="isPlayerCommander" ></app-task-selection>
  </div>

  <h3 *ngIf="winningCard">Player {{ winningCard.player }} won the last trick with the {{ winningCard.value }} {{ winningCard.suit }}</h3>
  <div class="game-info-card">
    <div class="card-info">
      <h3>Last Trick</h3>
      <div class="arranged-cards">
       <app-information-card *ngFor="let card of lastTrick" [information]="formatInformation(card)" [card]="card"></app-information-card>
      </div>
    </div>
    <div class="card-info">
      <h3>Communication</h3>
      <div class="arranged-cards">
        <app-information-card *ngFor="let communication of revealedCommunications" [information]="formatInformation(communication.card, communication.type)" [card]="communication.card"></app-information-card>
      </div>
    </div>
  </div>
  <h4>Lead Card:</h4>
  <app-playing-card *ngIf="leadCard" [card]="leadCard"></app-playing-card>

  <h4>Trick's Won:</h4>
  <div class="trick-summary">
    <span class= "player-trick-summary" *ngFor="let wonTrick of wonTrickSummary">
      Player {{ wonTrick.player }}: trick's won {{ wonTrick.tricks }}
    </span>
  </div>
</div>
