.arranged-cards
  display: flex
  flex-wrap: wrap

.playing-mat
  min-height: 200px
  min-width: 400px
  background-color: orange

.players-cards
 display: flex
 margin: 0 5px
 
.communication-area
  height: 190px
  width: 140px
  background-color: gold
