.game-area-container
  display: flex
  justify-content: space-around

.table-top
  display: flex
  justify-content: space-around

.table-middle
  display: flex
  align-items: center
  justify-content: space-around

.player-summary
  min-width: 65px

.playing-mat
  min-height: 155px
  min-width: 450px
  width: 40vw
  background-color: orange

.players-cards
 display: flex
 justify-content: space-between
 margin: 0 5px

.interaction-container
  display: flex
  flex-direction: column
  justify-content: space-around
  max-height: 20em

.communication-container
  display: flex
  flex-direction: column
  align-items: center

.communication-area
  height: 135px
  width: 86px
  background-color: gold

