.game-area-container
  display: flex
  justify-content: space-around

.table-top
  display: flex
  justify-content: space-around

.table-middle
  display: flex
  align-items: center
  justify-content: space-around

.player-summary
  min-width: 65px

.playing-mat
  min-height: 155px
  min-width: 450px
  width: 40vw
  background-color: orange

.players-cards
 display: flex
 justify-content: space-between
 margin: 0 5px
 
.communication-area
  height: 155px
  width: 105.5px
  background-color: gold
