<p>Welcome to the game room</p>
<p *ngIf="numberOfPlayers > 0">{{ numberOfPlayers }} Players in game</p>
<button mat-raised-button (click)="dealCards()">Deal the Cards</button>
<button mat-raised-button [disabled]="cardsInHand.length === 0" (click)="openTaskDealDialog()">Tasks</button>
<div>
  <div *ngIf="numberOfPlayers">
    <app-task-selection [numberOfPlayers]="numberOfPlayers" [isPlayerCommander]="isPlayerCommander" ></app-task-selection>
  </div>

  <h3 *ngIf="winningCard">Player {{ winningCard.player }} won the last trick with the {{ winningCard.value }} {{ winningCard.suit }}</h3>
  <h5>Last Trick</h5>
  <div class="arranged-cards">
    <app-playing-card *ngFor="let card of lastTrick" [card]="card"></app-playing-card>
  </div>
</div>

<h4>Lead Card:</h4>
<app-playing-card *ngIf="leadCard" [card]="leadCard"></app-playing-card>
<div 
  class="playing-mat arranged-cards"
  cdkDropList 
  #playingMat="cdkDropList" 
  [cdkDropListData]="playedCards"
  (cdkDropListDropped)="cardPlayed($event)">
    <app-playing-card *ngFor="let card of playedCards" [card]="card"></app-playing-card>
</div>
<h3 *ngIf="player !== 0">Player {{ player }}'s hand</h3>
<div 
    *ngIf="cardsInHand.length > 1" 
    cdkDropList
    [cdkDropListData]="cardsInHand"
    [cdkDropListConnectedTo]="[playingMat]">

  <div class="arranged-cards">
    <app-playing-card *ngFor="let card of cardsInHand" cdkDrag [card]="card"></app-playing-card>
  </div>
</div>
