<p>Welcome to the game room</p>
<p *ngIf="numberOfPlayers > 0">{{ numberOfPlayers }} Players in game</p>
<button mat-raised-button (click)="dealCards()">Deal the Cards</button>
<button mat-raised-button [disabled]="!dealingCompleted" (click)="openTaskDealDialog()">Tasks</button>

<app-game-summary
  [winningCard]="winningCard"
  [leadCard]="leadCard"
  [lastTrick]="lastTrick"
></app-game-summary>

<div class="game-area-container">
  <div class="game-area">
    <app-game-table
      [numberOfPlayers]="numberOfPlayers"
      [playerToTheRight]="playerToTheRight"
      [playerToTheLeft]="playerToTheLeft"
      [playerThreeToTheRight]="playerThreeToTheRight"
      [playerTwoToTheLeft]="playerTwoToTheLeft"></app-game-table>
    <app-players-hand
      [player]="player"
      [playerToTheRight]="playerToTheRight"
      [playerToTheLeft]="playerToTheLeft">
    </app-players-hand>
  </div>
  <div class="task-selection-container" *ngIf="playerSummary.length">
    <app-task-selection [playerSummary]="playerSummary" [isPlayerCommander]="isPlayerCommander" ></app-task-selection>
  </div>
</div>
