.playing-card
 width: 100px
 height: 132px
 margin: 3px

.pink-card
  background-color: #ff69b4

.violet-card
  background-color: #ee82ee

.green-card
  background-color: #375f37

.blue-card
  background-color: #1173d3

.rocket-card
  background-color: #292929

.card-back
  background-color: black
