$card-alignment: -35px

.playing-card
 width: 100px
 height: 132px
 margin: 3px

.card-header
  position: relative
  margin-left: 5px
  margin-bottom: $card-alignment
  z-index: 1

.card-footer
  position: relative
  margin-left: 80px
  margin-top: $card-alignment

.card-img
  height: 100%
  width: 100%
  border-radius: 10px
  transform: scaleX(-1)

.card-back
  background-color: black

.card-back.card-header
    margin-bottom: 0

.card-back.card-footer
    margin-top: 0
