.playing-card
 width: 100px
 height: 132px
 margin: 3px

.pink-card
  background-color: #a7358e

.yellow-card
  background-color: #bfad10

.green-card
  background-color: #375f37

.blue-card
  background-color: #1173d3

.rocket-card
  background-color: #292929