.player-summary
  min-width: 65px

.player-tasks
  background-color: #C3BCBC8F
  display: flex
  justify-content: space-evenly
  align-items: flex-end
  flex-wrap: wrap
  min-height: 150px

.player-tasks.portrait
  width: 200px

.player-tasks.landscape
  max-width: 350px
  width: 35vw

.card-summary-container
  display: flex

.reverse-layout
  flex-direction: row-reverse
