<p class="player-summary"> {{ playersTableText() }}</p>
  <div [ngClass]="['card-summary-container', reverseLayout ? 'reverse-layout' : '']">
		<app-communication-zone [playerInfo]="playerInfo"></app-communication-zone>
    <div
  	[ngClass]="['player-tasks', orientation]"
  	cdkDropList
  	[id]="playerInfo | playerTaskList"
  	[cdkDropListData]="taskCards"
  	(cdkDropListDropped)="taskSelected($event)"
  	>
    <span>Task Area</span>
  		<div class="player-task-cards">
  			<app-information-card
          *ngFor="let card of taskCards"
  				[card]="card"
  				[smallCard]="true"
  				[information]="card | taskOrderText"
  				[showBackOfCard]="card.completed"
          (click)="completeTask(card)">
  			</app-information-card>
  		</div>
  	</div>
</div>


