.player-summary
  min-width: 65px

.player-tasks
  background-color: #C3BCBC8F
  display: flex
  justify-content: space-evenly
  flex-wrap: wrap
  min-height: 150px

.player-tasks.portrait
  width: 200px

.player-tasks.landscape
  max-width: 350px
  width: 35vw

.interaction-container
  display: flex
  flex-direction: column
  justify-content: space-around
  max-height: 20em

.card-summary-container
  display: flex

.communication-container
  display: flex
  flex-direction: column
  align-items: center

.communication-area
  height: 135px
  width: 86px
  background-color: gold
