<p class="player-summary"> {{ playersTableText() }}</p>
<div
	[ngClass]="['player-tasks', orientation]"
	cdkDropList
	[id]="playerInfo | playerTaskList"
	[cdkDropListData]="taskCards"
	(cdkDropListDropped)="taskSelected($event)"
	>
	<div *ngFor="let card of taskCards" >
		<mat-checkbox [checked]="card.completed" (change)="completeTask($event, card)">complete</mat-checkbox>
		<app-information-card
			[card]="card"
			[smallCard]="true"
			[information]="card | taskOrderText"
			[showBackOfCard]="card.completed" >
		</app-information-card>
	</div>
</div>
  <div class="communication-container">
    <h3>Communicate</h3>
    <div
      class="communication-area"
      cdkDropList
      [id]="getCommunicationPosition()"
      [cdkDropListData]="communicationCard"
      [cdkDropListConnectedTo]="communicationDragTo()"
      (cdkDropListDropped)="cardPlacedInCommunication($event)"
      color="secondary"
    >
      <div *ngIf="communicationCard[0]">
        <div *ngIf="isPlayerLocalPlayer()" >
          <mat-select (selectionChange)="handleCommunication($event)">
            <mat-option *ngFor="let option of communicationOptions" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
          <app-playing-card cdkDrag [card]="communicationCard[0]"></app-playing-card>
        </div>
        <app-information-card  *ngIf="!isPlayerLocalPlayer()" [card]="communicationCard[0]" [information]="communicationCard[0].type"></app-information-card>
      </div>
    </div>
  </div>

