<h5>Task Selection</h5>
<div class="arranged-cards task-cards">
  <div 
    cdkDropList
    id="unassigned-tasks"
    [cdkDropListData]="tasks"
    [cdkDropListConnectedTo]="playerTaskLists()">
    <div class="task-card-container" cdkDrag *ngFor="let task of tasks">
      <div *ngIf="showTasks">
        <mat-checkbox [checked]="task.completed" (change)="completeTask($event, task)">complete</mat-checkbox>
        <mat-select (selectionChange)="setTaskToPlayer($event, task)" [value]="task.playerPosition">
          <mat-option *ngFor="let player of playerSummary" [value]="player.playerPosition">
           {{ player | playerDisplayName}}
          </mat-option>
        </mat-select>
      </div>
      <app-information-card
        
        [card]="task" 
        [information]="getTaskText(task)" 
        [showBackOfCard]="!showTasks || task.completed" 
        [smallCard]='true'>
      </app-information-card>
    </div>
  </div>
  
</div>
<button mat-raised-button color="secondary" *ngIf="revealOnlyToCommander && isPlayerCommander" (click)="revealTasks()">Reveal tasks</button>
